#body {
    margin: 0;
    background: beige;
}

#canvas {
    display: block;
    margin-left: 220px;
}

#html, #body{
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;
    background: white;
    padding: 15px;
    overflow-y: auto;
    font-family: Times;
    gap: 20px;
    border-right: 2px solid #ccc;
    display: flex;
    flex-direction: column;
}

.control {
    background: #f7f7f7;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.control label {
    font-weight: bold;
    font-family: times;
}

.control input[type="range"] {
    width: 90%;
}

.control span {
    font-size: 14px;
    color: #333;
    font-family: sans-serif;
}
